node_modules
/dist
/scratch
/build
package-lock.json
/lib
/coverage

# old src folders/files
/Ber
/EmberClient
/EmberLib
/EmberServer
/EmberSocket
/Ember
/test
/Errors.js
/s101.js
/sample.js
/serve.js
